<div class="user-details">
    <h1>A little bit about me</h1>
    <div>
    <img alt="avatar" class="img-avatar" src="{{ "/assets/img/avatar.png" | prepend: site.baseurl }}">
    </div>

    <p>
      I just finished my graduation in computer science & engineering from BUET <br>
      and started the marathon of software development & engineering in our cool and rocking industry.
    </p>

    <p>
      Worked on android mobile app development, web development, computer softwares, <br>
      blockchains, digital system design, database management and UI/UX design.<br>
      Skilled in Java, C++, SQL languages and various frameworks & tools. <br>
      Interested in making cool softwares, algorithm engineering,<br>
       advanced data structures, system design & security.
    </p>

    <p>
      Bogra born and bred. <br>
      Loves movies with twists and that are aesthetic to the eyes.<br>
      Listens to music without judging the genre.<br>
      Never misses a chance to watch football and a Manchester United fanatic.
    </p>
    <br>
<!--     
    <a href="https://drive.google.com/open?id=1VaLFWxw76L5tQ-dMLTVog0GxQH-FU8Og" target="_blank">
      <b>Here's my resume</b></a>  -->

  </div>
</div>



