<div class="user-details">
    <h1>A little bit about me</h1>
    <div>
    <img alt="avatar" class="img-avatar" src="{{ "/assets/img/avatar.png" | prepend: site.baseurl }}">
    </div>
    <p>
      Inquisitive and energetic computer science & engineering graduate
      who wants to<br> increase the total amount of goodness in this world with his works.<br>
      Just started the marathon race of software development & engineering with Usain-like agility.
    </p>

    <p>
      Worked on android mobile app development, web development, computer softwares, <br>
      blockchains, digital system design, database management and UI/UX design.<br>
      Skilled in Java, C++, SQL languages and various frameworks & tools. <br>
      Interested in algorithm engineering, advanced data structures, system design & security.
    </p>

    <p>
      Loves movies with twists and aesthetic to the eyes.
      Listens to music not judging the genre.<br>
      Never misses a chace to watch football and a Manchester United fanatic.
    </p>
    <br>

  </div>
</div>



