 <div class="user-details4"
 style="background-color:#1A222C">
     <h1 style="color: #fff"> This is my system </h1>
     <p>
         Know what's around you <br>
         Believe in change and have faith <br>
         Pursue passion, not money <br>
         Explore and invest in crazy ideas <br>
         Design first, code later <br>
         Be dumb and all-knowing at the same time <br>
         Don't take yourself too seriously <br>
         Read every day <br>
         Prioritize those that are needed <br>
         Stay sharp, curious, organised and updated<br>
         Explore the world
         <br><br><br>
     </p>
 </div>