<!-- <style>
    body {
        color: red;
    }

    h1 {
        color:black;
    }

    p {
        color: white
    }
</style> -->
 
 <div class="user-details"
 style="background-color:lightblue">
     <h1> This is my system </h1>
     <p>
         Know what is around you <br>
         Believe in change and have faith <br>
         Pursue passion, not money <br>
         Explore and invest in crazy ideas <br>
         Design first, code later <br>
         Be dumb and all-knowing at the same time <br>
         Don't take yourself too seriously <br>
         Read every day <br>
         Prioritize the necessaries <br>
         Stay sharp, curious, organised and updated<br>
         Explore the world and the beings that surronds you
         <br><br><br>
     </p>
 </div>