<div class="user-details3">
        <h1>Stuffs I kind of know</h1>
    </div>
<div class="user">
    <div class="tech">

        <h3>Programming Language</h3>

        <i class="devicon-java-plain colored" title="Java"></i>
        <i class="devicon-cplusplus-plain colored" title="C++"></i>
        <i class="devicon-python-plain colored" title="Python"></i>
        <i class="devicon-c-plain colored" title="C"></i>
        <img src="/assets/img/dev-icon/sql.png" width="70" height="70" title="SQL">
        <i class="devicon-javascript-plain colored" title="Javascript"></i>
        <img src="/assets/img/dev-icon/go.png" width="70" height="70" title="GoLang">
        <i class="devicon-html5-plain-wordmark colored" title="HTML"></i>
        <img src="/assets/img/dev-icon/kotlin.png" width="64" height="64" title="Kotlin">
    </div>

    <div class="tech">
        <h3>Platform | Framework | DB</h3>

            <i class="devicon-android-plain colored" title="Android"></i>
            <i class="devicon-mysql-plain colored" title="MySQL"></i>
            <img src="/assets/img/dev-icon/flutter.png" width="64" height="64" title="Flutter">
            <i class="devicon-react-original colored" title="React Native"></i>
            <i class="devicon-nodejs-plain colored" title="NodeJs"></i>
            <i class="devicon-mongodb-plain colored" title="MongoDB"></i>
            <i class="devicon-django-plain colored" title="Django"></i>
            
    </div>
    <div class="tech">
        <h3>Tool</h3>
            <i class="devicon-linux-plain colored" title="Linux Systems"></i>
            <i class="devicon-git-plain colored" title="Git VCS"></i>
            <i class="devicon-photoshop-plain colored" title="Adobe Photoshop"></i>
            <i class="devicon-wordpress-plain colored" title="Wordpress"></i>
            <i class="devicon-illustrator-plain colored" title="Adobe Illustrator"></i>
            <img src="/assets/img/dev-icon/latex.png" width="70" height="70" title="LaTeX">
            <i class="devicon-ubuntu-plain colored" title="Ubuntu"></i>
            <i class="devicon-windows8-original colored" title="Windows"></i>
            <img src="/assets/img/dev-icon/redmine.png" width="64" height="64" title="Redmine">
       
    </div>
</div>