<div class="user-details2">
    <h1>Here's where I've worked</h1>
</div>
<div class="user">
        <div class="tech">
            <h2>Field Buzz</h2>
            <img alt="avatar" class="img-work"
                src="{{ "/assets/img/work-logos/f.png" | prepend: site.baseurl }}" />
            <h3 class="post-work">Jr. Software Engineer</h3>
            <p class="post-duration">July 2019 - Present</p>
            <p> The visionary company Field Information Solutions GmbH is
                my rite of passage into software engineering professionalism.
                My mobile app team has been working on building in-depth,
                sector-specific modules<br> on one powerful platform, Field Buzz.<br>
                Developers and designers blew me away with their willingness 
                to share their time and wisdom.
            </p>
        </div>
    <div class="tech">
        <h2>Durbin Labs Ltd.</h2>
        <img alt="durbin" class="img-work"
            src="{{ "/assets/img/work-logos/d.png" | prepend: site.baseurl }}" />
        <h3 class="post-work">Software Development Intern</h3>
        <p class="post-duration">May 2016 - Jan 2017</p>
        <p> I was a lucky intern to work with Durbin Lab's small, brilliant android team.
            I learned about project management, Android & web app development,
            testing, using software development tools etc.<br>
            This tenure during my varsity years flooded me with opportunities
            to osmose bits of wisdom from software developers, system designers,
            testers from the industry.
        </p>
    </div>
    <div class="tech">
        <h2>Microsoft Bangladesh</h2>
        <img alt="avatar" class="img-work"
            src="{{ "/assets/img/work-logos/m.png" | prepend: site.baseurl }}" />
        <h3 class="post-work">Intern</h3>
        <p class="post-duration">Dec 2016 - Jan 2017</p>
        <p> I worked with Young Bangla who launched a program with
            Microsoft Bangladesh to inspire the young developers to come up with something
            that would make a mark on the socio-economic state of Bangladesh.<br>
            Working with a company with such an immense calibre taught me to surround myself 
            with people<br> who push me to my limits.
        </p>
    </div>
</div>